.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 20px;
}
.card {
    width: 300px;
    height: auto;
    border: 1px solid black;
    padding: 10px 20px;
}

.titleBlock{
    padding: 10px;
    display: flex;
    flex-direction: column;
    .title{
        font-weight: 700;
        padding: 10px 0;
        font-size: 16px;
    }
    .description{
        font-size: 14px;
    }
    .release{
        font-size: 14px;
        display: flex;
        flex-direction: row;
        :global {
            & div {
                padding: 10px;
            }
        }
    }
}

.label {
    text-transform: capitalize;
    font-weight: 700;
    padding: 10px;
}

.names {
    padding-top: 5px;
   padding-left: 30px;
}